@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Readex Pro", sans-serif;
  background: #F6F2F9;
  font-weight: 350;
}

#firebase > p, .firebaseui-title, label {
  font-family: "Readex Pro", sans-serif !important;
  font-weight: 350 !important;
}

.firebaseui-label {
  font-size: 12px !important;
}

input {
  outline: none;
}

.mdl-button {
  font-family: "Readex Pro", sans-serif !important;
  border-radius: 7px !important;
  max-width: unset !important;
  text-align: center !important;
  font-weight: 350 !important;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px !important;
}

.firebaseui-list-item .mdl-button {
  width: 100% !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  height: 45px;
}

.mdl-card {
  box-shadow: none !important;
}

.firebaseui-idp-text{
  font-size: 13px !important;
  font-weight: 400;
}